html {
    font-family: Verdana;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    overflow-x: hidden;
}

body * {
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left top;
}

/* Style galerii */
.gallery {
    display: flex;
    flex-flow: row wrap;
    margin: -4px;
    width: calc(100% + 8px);
}

.przyciski {
    display: flex;
    justify-content: center;
}

.gallery__column {
    width: 25%;
    padding: 4px;
}

.gallery__imageWrapper {
    aspect-ratio: 16 / 9;
}

.gallery__imageWrapper:hover {
    cursor: pointer;
}
/* Koniec styli galerii */

/* Style modala */
.modal {
    display: flex;
        justify-content: center;
        align-items: center;
    position: fixed;
        top: 0;
        left: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,0);
    transition: background-color .2s ease;
    will-change: background-color;
}

.modal__content {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    transform: scale(0, 0);
    transition: transform .2s ease;
    will-change: transform;
    user-select: none;
}

.modal.active {
    background-color: rgba(0,0,0,0.4);
}

.modal.active .modal__content {
    transform: scale(1, 1);
}

.modal__image {
    height: 100%;
    flex-grow: 1;
}

.modal__image img {
    object-fit: contain;
    object-position: center;
}

.modal__x {
    width: 36px;
    height: 36px;
    flex-shrink: 0;
}

.modal__x:hover {
    cursor: pointer;
}

.modal__x::before {
    content: "";
    display: inline-block;
    width: 4px;
    height: 32px;
    background-color: white;
    position: absolute;
        top: 4px;
        right: 16px;
    transform-origin: center;
    transform: rotate(45deg);
}

.modal__x::after {
    content: "";
    display: inline-block;
    width: 4px;
    height: 32px;
    background-color: white;
    position: absolute;
        top: 4px;
        right: 16px;
    transform-origin: center;
    transform: rotate(-45deg);
}

.modal__error {
    height: 48px;
    width: 400px;
    position: fixed;
        top: 50%;
        left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    padding: 16px;
    background-color: white;
    border-radius: 8px;
}

.modal__error p {
    margin: 0;
    text-align: center;
}
/* Koniec styli modala */

/* Style spinnera */
.modal__spinner {
    height: 48px;
    width: 48px;
    margin: auto;
    position: fixed;
        top: 50%;
        left: 50%;
    transform: translate(-50%, -50%);
    background-color: inherit;
    border: solid 3px white;
    border-right: 0;
    border-bottom: 0;
    border-radius: 100%;
    animation: spin 1s infinite 0s; 
}

@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
/* Koniec styli spinnera */
@media screen and (max-width: 730px) {
    .gallery__column {
        width: 50%;
    }
}
